<ion-view title="Choose an Activity">
  <ion-content>
    <div>
      <div class="item item-avatar">
        <img src="{{activity.img}}">
        <h2>{{activity.title}}</h2>
        <p>{{activity.description.date}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="{{activity.img}}">
        <p>
          {{activity.description.describe}}
        </p>
        <p>
        <h2><a ng-click="openModal()">5 Friends Attending</a></h2>
        </p>
      </div>
    </div>  
  </div>
    <button nav-clear class="button button-full button loginFacebook" ng-click="doit()">
          DO IT
    </button>
  </ion-content>
</ion-view>