<ion-view title="Activity">
  <ion-nav-buttons side='left'>
    <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="profile()"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card velocity-transition-bounceRightIn">
    <div>
      <div class="item item-avatar">
        <img src="{{activity.img}}">
        <h2>{{activity.title}}</h2>
        <p>{{activity.description.date}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="{{activity.img}}">
        <p>
          {{activity.description.describe}}
        </p>
        <p>
        <a class="subdued">{{activity.description.average}} average rating</a>
        <a ng-click="openModal()" class="subdued">7 Recommendations</a>
        </p>
      </div>

      <div class="item tabs tab-secondary tabs-icon-left">
      <rating ng-model="rate" max="max"></rating>
      </div>
    </div>  
  </div>
  </ion-content>
</ion-view>
