<div class="modal">
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Description</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Back</button>
        </ion-header-bar>
        <ion-content>
        <div class="item item-avatar"> put ng repeat on this
          <img src="{{activity.img}}">
          <h2>{{activity.title}}</h2>
          <p>{{activity.description.date}}</p>
        </div>
        </ion-content>
</div>