<ion-view title="Profile" hide-nav-bar="true">
  <ion-content>
      <div class="item item-thumbnail-left">
        <img src="{{user.img}}" ng-style="{'height': '100px', 'width': '100px'}">
        <h3>{{user.name}}</h3>
        <p>Location: {{user.location}}</p>
        <button nav-clear class="button button button loginFacebook" ng-style="{'float': 'right'}">My Stats</button>
      </div>
<!--       <ion-scroll direction="y" > -->
        <div class="list" ng-style="{'padding-top': '10px'}">
          <div class="velocity-transition-slideUpIn" data-velocity-opts="{stagger: 100}" ng-repeat="todos in myEvents" ui-sref="activities({id: $index})">
            <a class="item item-avatar">
            <img src="{{todos.img}}">
            <h2>{{todos.title}}</h2><p>{{todos.description.date}}</p>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
            <i class="ion-ios7-star-outline"></i>
            <i class="ion-ios7-star-outline"></i> 
            </a> 
            <div>
        </div>
<!--       </ion-scroll> -->

  </ion-content>
</ion-view>

<!-- consider making main features partials for better aesthetic/organization. -->